{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "ie >= 11"
          ]
        },
        "modules": false,
        "loose": true
      }
    ],
    "react",
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": [
        ["env"],
        "react",
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties"
      ],
    }
  }
}
